body{
    /* background-image: linear-gradient(0deg, rgba(245,217,195,1) 25%, rgba(183,255,129,1) 100%); */
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

header {
    background-color: rgba(203,246,131,1);
}

header img {
    width: 100%;
}

img {
    position: relative;
}

.container {
    background-image: linear-gradient(0deg, rgba(245,217,195,1) 25%, rgba(203,246,131,1) 100%);
    padding-top: 3em;
    padding-bottom: 5em;
}

#cloud1{
    align-self: flex-start;
}
#cloud3{
    align-self: end;
}
.windturbine {
    width: 500px;
    flex: auto;
    position: relative;
}
#windturbinebuilding {
    width: 400px;
    position: relative;
    top: 0;
    left: 0;
}
#windturbineblade {
    width: 400px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    animation: rotate 1.2s infinite;
}
@keyframes rotate {
    100% {transform: rotate(360deg);}
  }

h1{
    padding-left: 30px;
    margin: 0px;
}
h3{
    margin: 10px;
}

#about {
    display: flex;
    margin: 0em 1em 10em 1em;
}

#AboutText {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 20px;
    margin: 0em -1em 0em -1em;
}

#relatedwork {
    display: flex;
}

.section{
    margin: 10em 1em 2em 1em;
}

.row {
    display: flex;
    flex-direction: row;
}

#team {
    display: flex;
    justify-content: center;
}

.profilecard {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* display: inline-flex; */
    margin: 1em;
    /* justify-content: space-between; */
    width: 250px;
}

.profilecard img{
    width: 250px;
}
.profiletext {
    text-align: center;
    padding: 1em;
}

.TextBox{
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 1em;
    border-radius: 20px;
    flex-direction: row;
    flex-grow: 2;
    /* display: flex; */
    margin-left: 1em;
}

.col-3 {
    flex-shrink: 3;
    padding: 1em;
    text-align: center;
}

.MediaBox {
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 1em;
    border-radius: 20px;
    flex-grow: 1;
    margin-left: 1em;
    text-align: center;
}

.GalleryBox {
    position: relative;
    box-sizing: border-box;
}
  
.GallerySlides {
    display: none;
    text-align: center;
}
.GallerySlides img {
    height: 500px;
    text-align: center;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #222;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: #333;
}

.GalleryOverview {
    display: flex;
    justify-content: center;    
}
.GalleryOverview:after {
    content: "";
    display: table;
    clear: both;
}

.demo {
    opacity: 0.6;
    height: 70px;
    margin: 10px;
}

.active,
.demo:hover {
    opacity: 1;
}


@media only screen and (max-width: 980px) {
    .row {
        flex-direction: column;
    }
    .TextBox{
        flex-direction: column;
        margin-left: 0;
    }
    .MediaBox {
        margin-top: 20px;
        margin-left: 0;
    }
    #team {
        flex-wrap: wrap;
        flex-direction: row;
        font-size: x-large;
    }
    .profilecard {
        width: 40vw;
    }
    .profilecard img {
        width: 40vw;
    }
    .demo {
        height: 50px;
    }
}