body{
    /* background-image: linear-gradient(0deg, rgba(245,217,195,1) 25%, rgba(183,255,129,1) 100%); */
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

header {
    background-color: rgba(203,246,131,1);
}

header img {
    width: 100%;
}

img {
    position: relative;
}

.container {
    background-image: linear-gradient(0deg, rgba(245,217,195,1) 25%, rgba(203,246,131,1) 100%);
    padding-top: 10em;
    padding-bottom: 10em;
}

#cloud1{
    align-self: flex-start;
}
#cloud3{
    align-self: end;
}

h1{
    padding-left: 20px;
}

#about {
    display: flex;
    margin: 0em 1em 10em 1em;
}

#AboutText {
    background-color: white;
    opacity: 80%;
    padding: 1em;
    border-radius: 20px;
    margin: 0em -1em 0em -1em;
}

.section{
    margin: 10em 1em 2em 1em;
}

.row {
    display: flex;
    flex-direction: row;
}

.TextBox{
    background-color: white;
    opacity: 80%;
    padding: 1em;
    border-radius: 20px;
    margin-right: 1em;
    flex-grow: 2;
}

.MediaBox {
    background-color: white;
    opacity: 80%;
    padding: 1em;
    border-radius: 20px;
    /* margin: 1em; */
    flex-grow: 1;
}